.rowSelected {
  background-color: var(--mantine-color-blue-light);
}

.value {
  margin-left: rem(1);
  margin-right: rem(1);
}

.values {
  max-width: rem(20-0);
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  overflow-y: hidden;
}

.content {
  padding: 0;
  padding-left: rem(60);

  @media (max-width: --mantine-breakpoint-xs) {
    padding-left: rem(10);
  }
}
