.chartBg {
  background: light-dark(white, var(--mantine-color-dark-7));
}

.statusLabel {
  font-size: var(--mantine-h3-font-size);
  font-weight: var(--mantine-h1-font-weight);
  transform: translateY(-1em);
}
