.processItem {
  background: light-dark(white, var(--mantine-color-dark-7));
  transition: 0.5s ease-out max-height;
}

.processItem.opened {
  max-height: 200px;
  @media (max-width: $mantine-breakpoint-xs) {
    max-height: 240px;
  }
}

.processItem.closed {
  max-height: 55px;

  @media (max-width: $mantine-breakpoint-sm) {
    max-height: 90px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    max-height: 120px;
  }
}

.processLog {
  background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
}

.processMetric {
  background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
}

.colorSchemeDark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.colorSchemeLight {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
