.values {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: light-dark(
      var(--mantine-color-gray-7),
      var(--mantine-color-dark-2)
    );
    border-radius: 0.3rem;
  }
}

.inputField {
  --input-padding-y: 0;
}

.modal {
  overflow-y: visible;
  .section {
    overflow-y: visible;
  }
}

.defaultSelectGroup {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.filterIcon {
  @media (min-width: $mantine-breakpoint-md) {
    display: none;
  }
}
