.statsRing {
  background: light-dark(white, var(--mantine-color-dark-7));
}

.statsRingLabel {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
}

.statsRingValue {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-4));
}